body{

    margin:  0;

}

.titulo{

    /* Tamaño de la letra */
    font-size: medium;
    /* Color de la letra */
   color:whitesmoke;
    /* color de fondo */
   background-color: blueviolet;
   /* margin afecta al espacio que rodea un elemento */

   
    margin-right: 400px;
     margin-left:  50px;

}