*{

    padding: 0;
    margin: 0;

    box-sizing: border-box;
}


body{

    margin:  0;

}

.navlist li a{
    /* Quitar la decoracion de los links  */
    text-decoration: none;
    color: saddlebrown;
}